<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="db" value="" />
    <add key="SendEmailToDataport" value="true" />
    <add key="IsDevMachine" value="true"/>
    <add key="FileSystems" value="
Default,|
K001,xxx"/>
    <add key="AppUser" value="..."/> 
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <log4net>
    <appender name="SupportAppFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
      <param name="File" value="SupportAppFile4Log.txt" />
      <param name="RollingStyle" value="Date" />
      <param name="AppendToFile" value="true" />
      <param name="DatePattern" value="yyyyMMdd" />
      <param name="MaxSizeRollBackups" value="10" />
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="SupportAppFile2Appender" type="log4net.Appender.RollingFileAppender, log4net">
      <param name="File" value="SupportAppFile2_4Log.txt" />
      <param name="RollingStyle" value="Date" />
      <param name="AppendToFile" value="true" />
      <param name="DatePattern" value="yyyyMMdd" />
      <param name="MaxSizeRollBackups" value="10" />
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="SupportAppFileAppender" />
    </root>
  </log4net>

</configuration>
